*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-show i{
    cursor: pointer;
    color: black;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}    
.containt{
    max-width: 1300px;
    padding: 3px 5px;
    margin: auto;
}
.header{
    margin: auto;
    background:white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    top: 0;
    position: sticky;
    z-index:4;
}
/**-----containt----**/
.header2{
    background:whitesmoke;
    margin: auto;
}
.slide-content{
    width: 98%;
    height: 200px;
    margin: 20px auto auto auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
 .slide-content::-webkit-scrollbar{
    display: none;
 }
.slide-content .product{
    min-width: 24%;
    height: 90%;
    background:yellow;
    margin:0 15px 0 0;
    border-radius: 20px;
    transition:0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon .fa-cart-plus{
    font-size: 100px;
    color: red;
    font-weight: 600;
    margin-left: 40%;
    background: wheat;  
    border-radius: 50%;
    margin-top: 20px;
}
.find{
    text-align: center;
}
.find h2{
    font-weight: 600;
    font-size: 30px;
    color: black;
    margin-top: 60px;
}
.find p{
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin: 25px 15px;
}

.btn a{
    margin-top: 50px;
    padding: 20px 50px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width:700px) {
    .slide-content .product{
        min-width: 98%;
        margin: 0 10px;
    }
}